<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egga.layouting2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_MainActivity"
            android:theme="@style/AppTheme4">

        </activity>
        <activity android:name=".Verify_MainActivity"></activity>
        <activity android:name=".Almost_MainActivity"></activity>
        <activity
            android:name=".Register_MainActivity"
            android:theme="@style/AppTheme2"
            android:label="REGISTER">

        </activity>
        <activity android:name=".Login_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>